body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    margin-top: 120px;
}
.containForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222223;
    color: white;
    padding: 20px;
}
form{
    width: 80%;
    text-align: center;
    background-color: white;
    font-size: 25px;
    padding: 25px 50px;
    border-radius: 25px;
}
form input[type="text"],form input[type="tel"],form input[type="email"]{
    width: 50%;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #222223;
    text-align: center;
    font-size: 25px;
    transition: .5s;
}
form input[type="text"]:focus,form input[type="tel"]:focus,form input[type="email"]:focus{
    width: 60%;
}
form textarea{
    margin-top: 20px;
    width: 80%;
    height: 400px;
    font-size: 18px;
    border: 2px solid #222223;
    border-radius: 20px;
    padding: 10px;
}
form input[type="submit"]{
    cursor: pointer;
    margin-top: 10px;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    transition: .5s;
    border: 2px solid transparent;
    background-color: #222223;
    color: white;
}
form input[type="submit"]:hover{
    background-color: white;
    color: #222223;
    border-color:#222223;
}
.containImg{
    text-align: center;
    padding: 20px;
}
.containImg img{
    border: 5px solid #222223;
    border-radius: 20px;
}
.contentImg{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
@media screen and (max-width: 1500px){
    .containImg img{
        min-width: 100px;
        width: 50vw;
    }
    
 }