body{
    margin: 0;
    box-sizing: border-box;
    height: 1000px;
}
main{
    margin-top: 150px;
}
.bgBlack{
    background-color: #222223;
    color: aliceblue;
}
section{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
.img{
    grid-area: img;
}
.img img{
    width: 450px;
    height: auto;
    max-width: 450px;
    min-width: 150px;
}
.p{
    grid-area: p;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p div{
    width: 80%;
}
.p div p{
    font-size:  clamp(5px, 2vw, 20px);
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 70%;
}
section img{
    width: 50vw;
    border-radius: 25px;
    border: .5vw solid #222223;
   
}
.bgBlack img{
    border-color: white;
}
@media screen and (max-width:1100px) {
    main{
        margin-top: 10vw;
    }
    .img img{
        width: 100%;
        min-width: 150px;
    }
}