.pageChargement{
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    width: 100vw;
    height: 100vh;
    visibility: visible;
    animation: 1.5s hidePage;
    animation-fill-mode: forwards;
}
.pageChargement img{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 50%;
    width: 200px;
    animation:1.5s cubic-bezier(0.77, 0.07, 0.2, 1.27) infinite tourner ;
}
.containLoad{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background-color: transparent;
    width: 300px;
    border: #222223 solid 2px;
    border-radius: 10px;
}
.pageChargement .load{
    background-color: #222223;
    height: 5px;
    width: 0%;
    animation: 1.5s linear infinite loadBarre;
}

@keyframes tourner{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
@keyframes loadBarre{
    0%{
        width: 0%;
    }
    10%{
        width: 3%;
    }
    20%{
        width: 10%;
    }
    50%{
        width: 60%;
    }
    65%{
        width: 68%;
    }
    80%{
        width: 90%;
    }
    100%{
        width: 100%;
    }
}

@keyframes hidePage {
    99% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
}