header{
    background-color: #222223;
    position: fixed;
    width: 100%;
    color: white;
    top:0;
}
header li a{
    color: white;
    font-size: 25px;
    text-underline-offset:10px;
    text-decoration-color: white;
    transition: .5s;
    padding: 10px 5px;
    border-radius: 15px;
}

header #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 86px;
}
header #nav li{
    margin: 0!important;
    padding: 0!important;
}
header li a:hover, #selected{
    text-underline-offset: 0px;
    background-color: white;
    color: #222223;
}
header details{
    display: none;
}
header details summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header details summary img{
    height: 86px;
    width: auto;
}

header ul{
    text-align: center;
}
header .profilButton{

    border: 2px white solid;
    padding: 5px 10px;
    border-radius: 100%;
    font-size: 30px;
    transition: .5s;
    transform: rotate(0deg);
    transform-origin: center;
    color: white;
}
header .profilButton:hover{
    transform: rotate(360deg);
    color: #222223;
    background-color: white;
}
header .profilButton i{
    transition: .5s;
    color: white;
}
header .profilButton:hover i{
    transform: rotate(360deg);
    color: #222223;
}
header ul{
    list-style-type: none;
    padding: 10px;
}
header ul li{
    margin-top: 25px;
}

footer{
    background-color: #222223;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 60px;
    font-size: clamp(10px, 1vw, 20px);
    position: relative;
}
footer img{
    width: 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50px;
}
footer .condition a {
    text-decoration: none;
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    right: 50px;
}
@media screen and (max-width: 1100px){
    header li a{
        font-size: 20px;
    }
}
@media screen and (max-width: 1000px){
    header #nav{
        display: none;
    }
    header details{
        display:block;
    }
    header li a{
        font-size: 25px;
    }
}
@media screen and (max-width: 1000px){
    header details summary img{
        width: 80%;
        height: auto;
    }
}
